<div id='feed' class="column">
  <h1 class="header">Messages</h1>

  <div class="messages">
    <% @messages.each do |msg| %>
      <div class="box">
        <div class="media-content">
          <div class="content">
            <p><%= msg.message%></p>
            <% if user_signed_in? %>
              <span class="author">- <strong><%= msg.user.username %></strong></span>
            <% else %>
              <span class="author">- <strong>Anonymous</strong></span>
            <% end %>
          </div>
          <% if user_signed_in? && current_user.id == msg.user_id %>
          <div class="options">
            <%= link_to edit_message_path(msg), class: "level-item" do %>
              <span class="icon"><i class="fa fa-pencil" aria-hidden="true"></i></span>
            <% end %>
            <%= link_to msg, method: :delete, data: { confirm: "Are you sure you want to delete this post?" } do %>
              <span class="icon"><i class="fa fa-trash-o" aria-hidden="true"></i></span>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>